{% extends "layout.process.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block modalClass %}console{% endblock %}

{% block content %}
	<div class="panel panel-default" id="console">
		<div class="panel-body table-responsive fullHeight">
			{% if url %}
				<iframe src="{{ url }}" id="consoleIframe" name="consoleIframe" frameborder="0" style="width: 100%;"></iframe>
				<script>
					$(function () {
						$('#consoleIframe').height($(window).height() - 200);
					});
				</script>
			{% endif %}
		</div>
	</div>
{% endblock %}