{% extends 'layout.twig' %}

{% block content %}

    <div class="row">

        {% for repository in repositories %}
            <div class="col-md-4">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-yellow">
                        <div class="widget-user-image">
                            <img class="img-circle" src="/vendor/AdminLTE/dist/img/user7-128x128.jpg" alt="User Avatar">
                        </div>
                        <h3 class="widget-user-username">{{ repository.getTitle() }}</h3>
                        <h5 class="widget-user-desc">Lead Developer</h5>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            {% for environment in repository.getEnvironments() %}
                                <li><a href="{{ url('environment-show', {'repositoryId': repository.getId, 'environmentId': environment.getId()}) }}">{{ environment.getTitle }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}