@import "../vendor/lesshat/build/lesshat-prefixed.less";

.main-header .logo {
    .logo-icon {
        display: inline-block;
        width: 27px;
        height: 27px;
        margin: 0 8px 0 0;
        font-size: 20px;
        line-height: 27px;
        background-color: #DB4A39;
        border-radius: 4px;
    }

    .fa {
        margin-right: 8px;
    }
}

.content-header {

    width: 100%;
    float: left;

    & > h1 {
        float: left;
        margin-bottom: 15px;
    }

    .header-side {
        float: right;

        a.btn .fa {
            margin-right: 8px;
        }

        .server-switch {
            margin-bottom: 0;

            .box-header {
                padding: 10px 39px 10px 10px;

                .box-title {
                    font-size: 14px;
                }
            }
        }
    }

}

.content {
    .commit-hash {
        font-family: 'Courier New';
        /*font-size: 12px;*/
    }

    .boxOverflow {
        min-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #commits-list {
        & > .box {
            margin-bottom: 0;
        }

        table {
            tr {
                cursor: pointer;

                td, th {
                    padding: 5px 8px;
                }
            }
        }
    }
    
    &.show-files #commits-list {
        margin-bottom: 10px;
    }

    #commit-files {
        padding-left: 0;

        .nav-tabs-custom {
            margin-bottom: 0;
        }

        .tab-content {
            .boxOverflow;

            .commit-detail {
                display: none;
            }
        }

        table td {
            .file-ico {
                display: inline-block;
                margin-right: 5px;

                &.delete {
                    color: #DB4A39;
                }
                &.create {
                    color: #5CB85C;
                }
                &.modify {
                    color: #F0AD4E;
                }
            }
        }
    }

    &.show-files #commit-files {
        display: block;
    }
}
